{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	{% include ('_partials/_nav.html.twig')  %}

	<h4>Bienvenue dans notre boutique en ligne !</h4>


{% endblock %}
