{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}


<form action="https://checkout.stripe.com/pay/{{ checkout_session_id }}" method="POST">
    <button type="submit" class="btn btn-sm btn-primary">Payer avec Stripe</button>
</form>



{% endblock %}
