{% extends 'base.html.twig' %}

{% block title %}Nos catégories{% endblock %}

{% block body %}

{% include "_partials/_nav.html.twig" %}

    <h1 class="text-center">NOS CATEGORIES DE PRODUITS</h1>


{% endblock %}