{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1 class="text-center">AJOUTER DE NOUVEAUX PRODUITS</h1>
<section>
	<div class="container">


    {{ include('admin/produits/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}"><b>Retour à la liste</b></a>
	</div>
</section>
{% endblock %}
